<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0">
	<securityTokenServiceSettings>
		<authenticationProviders>
			<add clientId="clientid goes here" scope="openid email" authority="https://sample-domain.onelogin.com/" metadataAddress="https://sample-domain.onelogin.com/oidc/2/.well-known/openid-configuration" redirectUri="http://localhost:60876/Sitefinity/Authenticate/OpenID/signin-onelogin" postLogoutRedirectUri="http://localhost:60876" title="One Login" enabled="True" autoAssignedRoles="Customers, NC" name="OpenIDConnect" config:flags="1" />
		</authenticationProviders>
	</securityTokenServiceSettings>
</authenticationConfig>