<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0" authCookieName=".SFAUTH-OneLogin" rolesCookieName=".SFROLES-OneLogin" validationKey="4AD19BD14269BFA8D0E055CE0195393E545FCB0976FA4B27EF30DF3C21E6D3CD121CCCCAE3DA19F866BA031A615871B89E6D9FF4EDED12CAE8424B6C475DDFC6" decryptionKey="F95C4E39E662324A36AC23DA9D5E3CABFABC5DBFD105D1D1060FF958B45A4437" loggingCookieName=".SFLOG-OneLogin">
	<securityTokenIssuers>
		<add key="546A19475DE9B6BA8B948D643426F7107FB58F0ADA12DA60481C3C55D47151C0" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="546A19475DE9B6BA8B948D643426F7107FB58F0ADA12DA60481C3C55D47151C0" realm="http://localhost" />
	</relyingParties>
</securityConfig>